#root {
    text-align: center;
    width: 100%;
}
.pokemon-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow-wrap: anywhere;
    > p {
        margin: 0;
        padding: 1rem;
        background-color: brown;
    }
    img {
        border: 1px solid brown;
    }
}
.pokemon-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1rem));
    gap: 1rem;
}
